<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>815418771841-4h9v6uktflda7vnt00ednur38ksdfaqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.815418771841-4h9v6uktflda7vnt00ednur38ksdfaqg</string>
	<key>API_KEY</key>
	<string>AIzaSyCSFsN-lbUxhh_rPyaS82A1pqSc9s61sX8</string>
	<key>GCM_SENDER_ID</key>
	<string>815418771841</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mriaco.mel</string>
	<key>PROJECT_ID</key>
	<string>fleet-cirrus-265003</string>
	<key>STORAGE_BUCKET</key>
	<string>fleet-cirrus-265003.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815418771841:ios:94fe6d977a0fc245d88080</string>
	<key>DATABASE_URL</key>
	<string>https://fleet-cirrus-265003.firebaseio.com</string>
</dict>
</plist>